<div class="jumbotron text-center">
  <h1>Deva App</h1>
  <p class="lead">Welcome to Deva application</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Node Js</h3>
    <p>Used As Back-End</p>
  </div>
  <div class="col-md-4">
    <h3>Angular</h3>
    <p>Used As Front-End</p>
  </div>
  <div class="col-md-4">
    <h3>MongoDb</h3>
    <p>Used as Database</p>
  </div>
</div>
