
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Deva App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
        <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="['/login']">login</a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="!authService.loggedIn()" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">register</a>
      </li>
     <li><a class="nav-link" *ngIf="authService.loggedIn()" (click)="onLogoutClick()" href="#">Logout</a></li>
     <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard </a>
    </li>
    <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
      <a class="nav-link" [routerLink]="['/profile']">Profile </a>
    </li>
     
    </ul>
    
  </div>
</nav>
